#root {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 2rem 4rem;
}


/* Flexbox for the parent container */
.web-layout {          
  display: flex;
  justify-content: space-between; 
  gap: 60px;
  width: 100%;
  min-height: 100vh;
}

.input-fields{
  flex: 1;
  min-width: 400px;
  margin-left: 2rem;
}

/* Resetting flex styles within individual components */
.personal-info,
.resume {
  display: block;
  width: 100%;
  margin-right: 2rem;
}




