
.info-inputs{
    display:flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.info-inputs section{
    display:flex;
    flex-direction: column;
    gap: 5px;
}

.personalForm{
    display:flex;
    flex-direction: column;
}

section{
    display:flex;
    gap: 1px;
}

section div{
    font-weight: 500;
}

.info-inputs input{
    max-width: 300px;
    resize: none;
}

.objective textarea{
    max-width: 300px;
    resize: none;
}

