.root{
    font-size: 8px;
}

.personal{
    display:flex;
    flex-direction: column;
}

.resume{
    padding: 0 40px;
    background-color: white;
    color: black;
    font-size: 1.8rem;
    min-height: 8in;
    max-height: 12in;
    width: clamp(5in, 6in, 7in);
}

.personal h3{
    display: -webkit-box;          /* Enable legacy flexbox */
    -webkit-box-pack: center;                 
    white-space: nowrap;      
    overflow: hidden;            
    text-overflow: ellipsis; 
    margin-bottom: 0; 
}

.personal .personal-details{
    display: flex;
    font-size: 1rem;
    font-weight: 100;
    justify-content: center;
    gap: 0.8rem;
}

.personal .objective-description{
    font-size: 0.8rem;
    margin-top: 0.8rem;     
    overflow: hidden;            
    text-overflow: ellipsis; 
}


.experience, .education{
    font-weight: 700;
    font-size:1.3rem;
    margin-top: 0;
}

hr{
    margin-bottom: 0.5rem;
}

.experience{
    display: flex;
    flex-direction: column;
}

.company-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.company-row h5, .company-row p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.experience-item{
    width: 100%;
}

.experience-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.experience h4, .company-row h5, .company-row p{
    margin-bottom: 0;
}

.company-row p{
    font-size: 1rem;
}

.position-row {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.position-row p{
    font-size: 1rem;
    margin-top: 0;
}

.job-description{
    margin-top: 0;
    padding-left: 1rem;
  }

.specific-desc::marker {
    font-size: 0.8em; /* Adjust the size of the bullet */
    color: gray; /* Optional: Change bullet color */
}

.specific-desc{
    font-size: 1rem;
}
  




